<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214487446845-v6a139huimcdkkjvkm1rvd3bed5gb406.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214487446845-v6a139huimcdkkjvkm1rvd3bed5gb406</string>
	<key>API_KEY</key>
	<string>AIzaSyD1e5mhvkCseAXHOHkjoHSqacVK3KM7bds</string>
	<key>GCM_SENDER_ID</key>
	<string>214487446845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neofect.connect</string>
	<key>PROJECT_ID</key>
	<string>neofect-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>neofect-connect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214487446845:ios:f3c71f9e5c5d9600</string>
	<key>DATABASE_URL</key>
	<string>https://neofect-connect.firebaseio.com</string>
</dict>
</plist>